@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
/* line 21, /Users/aaronjohnson/Documents/Code/hover-intent-demo/bower_components/susy/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  box-sizing: border-box; }

/* line 16, stdin */
.clear {
  display: block;
  clear: both; }

/* line 20, stdin */
.transition, .ng-global-nav__topbar-link, .ng-global-nav__dropdown, .global-nav__promo-collection__wrapper, .ng-global-nav__search-topics__list li a, .ng-global-nav__promo-collection__box, .ng-global-nav__promo-collection__box:before, .ng-global-nav__promo-collection__box-content, .global-nav__accordion-status {
  webkit-transition: all 300ms ease;
  transition: all 300ms ease; }

@-ms-viewport {
  width: device-width; }

/* line 28, stdin */
body, .sb-site, .subject-matter {
  -ms-overflow-style: auto;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase; }

/* line 35, stdin */
.breakpoint-palm-only .headroom {
  transition: -webkit-transform 200ms linear;
  transition: transform 200ms linear;
  transition: transform 200ms linear, -webkit-transform 200ms linear;
  -webkit-transition: -webkit-transform 200ms linear; }

/* line 40, stdin */
.breakpoint-palm-only .headroom--pinned {
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%); }

/* line 45, stdin */
.breakpoint-palm-only .headroom--unpinned {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%); }

/* line 52, stdin */
.ng-global-nav {
  position: relative; }

/* line 56, stdin */
.ng-global-nav__topbar {
  border-top: 3px solid #035496;
  position: fixed;
  z-index: 11111;
  height: 53px;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  font-size: 16px;
  background-color: rgba(10, 10, 10, 0.8);
  padding: 0px 50px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  /* line 73, stdin */
  .breakpoint-palm-only .ng-global-nav__topbar {
    padding-right: 0px; }

/* line 78, stdin */
.ng-global-nav__topbar-links {
  width: 100%; }

/* line 83, stdin */
.ng-global-nav__topbar-link {
  display: block;
  width: 20%;
  float: left;
  border-left: 1px solid #777;
  font-size: 14px;
  text-align: center;
  color: #ccc !important;
  height: 50px;
  line-height: 50px;
  text-decoration: none; }
  /* line 97, stdin */
  .ng-global-nav__topbar-link.inactive-link:hover {
    font-size: 14px;
    color: #fff;
    background-color: inherit !important;
    cursor: default; }
  /* line 106, stdin */
  .no-touch .ng-global-nav__topbar-link:hover {
    background: #333;
    color: #fff;
    cursor: pointer; }
  /* line 114, stdin */
  .ng-global-nav__topbar-link span {
    margin-left: 10px; }
  /* line 118, stdin */
  .ng-global-nav__topbar-link.get-started__global-nav-btn {
    background: #093a62;
    color: #fff;
    border-right: 1px solid #777; }
    /* line 123, stdin */
    .ng-global-nav__topbar-link.get-started__global-nav-btn:hover {
      background: #035496; }
    /* line 127, stdin */
    .ng-global-nav__topbar-link.get-started__global-nav-btn span {
      font-size: 14px;
      display: inline-block;
      margin-left: 5px; }
    /* line 134, stdin */
    .breakpoint-palm-only .ng-global-nav__topbar-link.get-started__global-nav-btn {
      display: none; }
  /* line 140, stdin */
  .breakpoint-palm-only .ng-global-nav__topbar-link:nth-of-type(1) {
    width: 100%; }
  /* line 146, stdin */
  .breakpoint-palm-only .ng-global-nav__topbar-link.collection-link {
    display: none; }
  /* line 151, stdin */
  .ng-global-nav__topbar-link .topbar-logo-wrapper {
    background-image: url(../img/ng_logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    height: 50px;
    width: 100%;
    max-width: 250px;
    margin: 0 auto; }
    /* line 161, stdin */
    .breakpoint-palm-only .ng-global-nav__topbar-link .topbar-logo-wrapper {
      margin: 0; }

/* line 167, stdin */
.ng-global-nav__topbar-icon {
  width: 50px;
  height: 50px;
  float: left;
  display: block;
  position: absolute;
  top: 0;
  color: #fff;
  text-align: center;
  font-size: 24px; }
  /* line 179, stdin */
  .no-touch .ng-global-nav__topbar-icon:hover {
    background: #333;
    color: #fff;
    cursor: pointer; }
  /* line 186, stdin */
  .ng-global-nav__topbar-icon.explore-icon {
    left: 0;
    padding-top: 13px; }
  /* line 191, stdin */
  .ng-global-nav__topbar-icon.search-icon {
    right: 0;
    padding-top: 12px; }
    /* line 195, stdin */
    .breakpoint-palm-only .ng-global-nav__topbar-icon.search-icon {
      display: none; }

/* line 201, stdin */
.ng-global-nav__dropdowns-wrapper {
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 11110;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  display: none;
  overflow: hidden; }
  /* line 218, stdin */
  .breakpoint-palm-only .ng-global-nav__dropdowns-wrapper {
    overflow: scroll;
    -webkit-overflow-scrolling: touch; }

/* line 224, stdin */
.ng-global-nav__dropdowns-content, .ng-global-nav__promo-collections-content {
  transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  background: #333;
  color: #fff;
  max-height: 100%;
  position: relative;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  display: block;
  opacity: 1;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none; }

/* line 243, stdin */
.breakpoint-palm-only .ng-global-nav__dropdowns-content {
  position: fixed;
  height: 100%;
  width: 100%; }

/* line 253, stdin */
.ng-global-nav__promo-collections-content {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #111; }
  /* line 258, stdin */
  .ng-global-nav__promo-collections-content .ng-global-nav__dropdown {
    background: #111;
    padding: 58px 0.3em 0.3em 0.3em; }

/* line 265, stdin */
.ng-global-nav__close {
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  position: absolute;
  z-index: 5;
  float: right;
  display: block;
  width: 40px;
  height: 40px;
  color: #fff;
  top: 70px;
  right: 5px;
  font-size: 36px;
  cursor: pointer; }
  /* line 279, stdin */
  .breakpoint-palm-only .ng-global-nav__close {
    display: none !important; }
  /* line 283, stdin */
  .ng-global-nav__close:hover {
    color: #fff; }

/* line 288, stdin */
.ng-global-nav__dropdown, .global-nav__promo-collection__wrapper {
  font-size: 24px;
  padding: 93px 50px 30px 50px;
  display: none;
  opacity: 1; }
  /* line 301, stdin */
  .ng-global-nav__dropdown.global-nav__explore-dropdown, .global-nav__promo-collection__wrapper.global-nav__explore-dropdown {
    padding: 53px 50px 0px 50px; }
    /* line 304, stdin */
    .breakpoint-palm-only .ng-global-nav__dropdown.global-nav__explore-dropdown, .breakpoint-palm-only .global-nav__promo-collection__wrapper.global-nav__explore-dropdown {
      padding: 53px 0 50px 0; }
    /* line 308, stdin */
    .breakpoint-tablet-only .ng-global-nav__dropdown.global-nav__explore-dropdown, .breakpoint-tablet-only .global-nav__promo-collection__wrapper.global-nav__explore-dropdown {
      padding: 53px 20px 0px 15px; }

/* line 314, stdin */
.active-link {
  background: #333;
  color: #fff; }

/* line 320, stdin */
.dropdown__closed {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%); }
  /* line 326, stdin */
  .dropdown__closed .ng-global-nav__close {
    display: none !important; }

/* line 331, stdin */
.dropdown-content__hidden {
  opacity: 0; }

/* line 339, stdin */
.opacity-0 {
  opacity: 0; }

/* line 345, stdin */
.breakpoint-tablet-up .inactive-link {
  opacity: 0.25;
  cursor: default; }

/* line 353, stdin */
.breakpoint-palm-only .global-nav__search-dropdown {
  display: none !important; }

/* line 358, stdin */
.global-nav__search-dropdown__content {
  width: 100%;
  max-width: 1000px;
  font-size: 16px;
  margin: 0 auto; }

/* line 365, stdin */
.global-nav__search-dropdown__title {
  font-size: 26px;
  color: #fff;
  margin-bottom: 25px; }

/* line 372, stdin */
.ng-global-nav__search-form {
  position: relative;
  margin-bottom: 40px; }
  /* line 376, stdin */
  .breakpoint-palm-only .ng-global-nav__search-form {
    margin-bottom: 20px; }
  /* line 380, stdin */
  .ng-global-nav__search-form input[type="text"] {
    display: block;
    width: 100%;
    color: #fff;
    padding: 25px;
    background: #4b4b4b;
    border: 1px solid #979797; }
    /* line 389, stdin */
    .breakpoint-palm-only .ng-global-nav__search-form input[type="text"] {
      padding: 20px;
      font-size: 13px; }
    /* line 394, stdin */
    .ng-global-nav__search-form input[type="text"]:focus {
      outline: 3px solid #979797; }
    /* line 398, stdin */
    .ng-global-nav__search-form input[type="text"]::-webkit-input-placeholder {
      color: #fff; }
    /* line 402, stdin */
    .ng-global-nav__search-form input[type="text"]:-moz-placeholder {
      /* Firefox 18- */
      color: #fff; }
    /* line 406, stdin */
    .ng-global-nav__search-form input[type="text"]::-moz-placeholder {
      /* Firefox 19+ */
      color: #fff; }
    /* line 410, stdin */
    .ng-global-nav__search-form input[type="text"]:-ms-input-placeholder {
      color: #fff; }
  /* line 415, stdin */
  .ng-global-nav__search-form .ng-global-nav__search-submit__wrapper {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    z-index: 4; }
    /* line 425, stdin */
    .breakpoint-palm-only .ng-global-nav__search-form .ng-global-nav__search-submit__wrapper {
      top: 9px;
      right: 5px; }
    /* line 431, stdin */
    .ng-global-nav__search-form .ng-global-nav__search-submit__wrapper:hover:before {
      color: #fff; }
    /* line 436, stdin */
    .ng-global-nav__search-form .ng-global-nav__search-submit__wrapper:before {
      position: absolute;
      top: 5px;
      left: 5px;
      font-size: 26px;
      color: #fff; }
    /* line 444, stdin */
    .ng-global-nav__search-form .ng-global-nav__search-submit__wrapper input[type="submit"] {
      display: block;
      position: absolute;
      border: 0px solid transparent;
      width: 40px;
      height: 40px;
      background: none;
      z-index: 5; }

/* line 456, stdin */
.ng-global-nav__search-topics__title {
  display: inline-block;
  padding: 20px 100px 20px 0;
  border-bottom: 1px solid #979797;
  margin-bottom: 20px; }

/* line 464, stdin */
.ng-global-nav__search-topics__list {
  margin-bottom: 50px;
  list-style-type: none; }
  /* line 469, stdin */
  .ng-global-nav__search-topics__list:after {
    content: '';
    display: block;
    clear: both; }
  /* line 475, stdin */
  .ng-global-nav__search-topics__list li a {
    display: block;
    float: left;
    padding: 20px 25px;
    color: #fff;
    margin: 0 20px 20px 0;
    border: 1px solid #979797;
    text-decoration: none; }
    /* line 485, stdin */
    .ng-global-nav__search-topics__list li a:hover {
      background-color: #979797;
      cursor: pointer; }

/* line 492, stdin */
.ng-global-nav__promo-collection__wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-size: 0.5rem;
  width: 100%;
  height: 17em;
  margin: 0 auto;
  padding: 0.2em;
  max-width: 1000px; }
  /* line 12, /Users/aaronjohnson/Documents/Code/hover-intent-demo/bower_components/susy/sass/susy/output/support/_clearfix.scss */
  .ng-global-nav__promo-collection__wrapper:after {
    content: " ";
    display: block;
    clear: both; }
  /* line 503, stdin */
  .breakpoint-desktop-only .ng-global-nav__promo-collection__wrapper, .breakpoint-large-desktop-only .ng-global-nav__promo-collection__wrapper {
    font-size: 25px; }

/* line 511, stdin */
.ng-global-nav__promo-collection__column {
  position: relative;
  height: 100%;
  font-size: 0.75em; }
  /* line 516, stdin */
  .ng-global-nav__promo-collection__column._1-up {
    width: 49.51456%;
    float: left;
    margin-right: 0.97087%; }
  /* line 520, stdin */
  .ng-global-nav__promo-collection__column._2-up {
    width: 24.27184%;
    float: left;
    margin-right: 0.97087%; }
  /* line 524, stdin */
  .ng-global-nav__promo-collection__column:nth-child(3) {
    float: right;
    margin-right: 0; }

/* line 529, stdin */
.ng-global-nav__promo-collection__box {
  position: relative;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: #fff;
  overflow: hidden; }
  /* line 539, stdin */
  .ng-global-nav__promo-collection__box:hover:before {
    opacity: 0.2; }
  /* line 543, stdin */
  .ng-global-nav__promo-collection__box:hover .ng-global-nav__promo-collection__box-image {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05); }
  /* line 550, stdin */
  .ng-global-nav__promo-collection__box:before {
    content: '';
    position: absolute;
    top: -5px;
    bottom: -5px;
    right: -5px;
    left: -5px;
    background: #000;
    opacity: 0.3;
    z-index: 5; }
  /* line 563, stdin */
  .ng-global-nav__promo-collection__box.primary {
    height: 100%; }
    /* line 566, stdin */
    .ng-global-nav__promo-collection__box.primary:before {
      opacity: 0.2; }
    /* line 570, stdin */
    .ng-global-nav__promo-collection__box.primary .ng-global-nav__promo-collection__box-content {
      font-size: 1.3em; }
  /* line 575, stdin */
  .ng-global-nav__promo-collection__box .ng-global-nav__promo-collection__caption {
    display: none; }
  /* line 579, stdin */
  .ng-global-nav__promo-collection__box.secondary {
    height: 60%;
    margin-bottom: 5%; }
  /* line 584, stdin */
  .ng-global-nav__promo-collection__box.tertiary {
    height: 37.5%;
    bottom: 0; }

/* line 590, stdin */
.ng-global-nav__promo-collection__box-image {
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-size: cover;
  background-position: center; }

/* line 602, stdin */
.ng-global-nav__promo-collection__box-content {
  position: absolute;
  z-index: 10;
  bottom: 0;
  padding: 0.5em;
  width: 100%; }

/* line 611, stdin */
.ng-global-nav__promo-collection__title {
  display: block;
  margin-bottom: 0.1em;
  position: static;
  color: #fff !important; }

/* line 622, stdin */
.ng-global-nav__promo-collection__metadata {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  display: inline-block;
  background: rgba(0, 0, 0, 0.7);
  padding: 6px 6px 4px 6px;
  margin-bottom: 5px; }

/* line 632, stdin */
.ng-global-nav__promo-collection__caption {
  display: block;
  font-size: 0.75em;
  text-transform: none;
  color: #fff !important; }
  /* line 639, stdin */
  .breakpoint-desktop-only .ng-global-nav__promo-collection__caption, .breakpoint-large-desktop-only .ng-global-nav__promo-collection__caption {
    display: block; }

/* line 645, stdin */
.global-nav__explore-content {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-size: 15px; }
  /* line 12, /Users/aaronjohnson/Documents/Code/hover-intent-demo/bower_components/susy/sass/susy/output/support/_clearfix.scss */
  .global-nav__explore-content:after {
    content: " ";
    display: block;
    clear: both; }
  /* line 651, stdin */
  .breakpoint-tablet-up .global-nav__explore-content .io-accordion__content-wrapper {
    display: block !important; }
  /* line 656, stdin */
  .global-nav__explore-content .explore__column {
    height: 100%; }
  /* line 661, stdin */
  .breakpoint-desktop-only .global-nav__explore-content .explore__column, .breakpoint-large-desktop-only .global-nav__explore-content .explore__column {
    width: 20%;
    float: left; }
    /* line 664, stdin */
    .breakpoint-desktop-only .global-nav__explore-content .explore__column:nth-of-type(5), .breakpoint-large-desktop-only .global-nav__explore-content .explore__column:nth-of-type(5) {
      float: right;
      margin-right: 0; }
  /* line 671, stdin */
  .breakpoint-tablet-only .global-nav__explore-content .explore__column {
    width: 25%;
    float: left; }
    /* line 674, stdin */
    .breakpoint-tablet-only .global-nav__explore-content .explore__column:nth-of-type(4) {
      float: right;
      margin-right: 0; }

/* line 681, stdin */
.global-nav__explore__main-menu__link {
  display: block;
  color: #fff;
  font-size: 26px;
  padding: 20px 0 15px 0;
  border-bottom: 1px solid #fff;
  margin-bottom: 15px;
  margin-right: 20px; }
  /* line 691, stdin */
  .breakpoint-tablet-only .global-nav__explore__main-menu__link {
    font-size: 23px; }
  /* line 695, stdin */
  .breakpoint-palm-only .global-nav__explore__main-menu__link {
    border-bottom: 1px solid #555;
    margin-right: 0;
    margin-bottom: 0;
    color: #fff;
    padding: 25px;
    font-size: 18px; }

/* line 706, stdin */
.global-nav__accordion-status {
  display: none; }
  /* line 709, stdin */
  .breakpoint-palm-only .global-nav__accordion-status {
    display: inline-block;
    float: right;
    font-size: 14px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg); }

/* line 719, stdin */
.global-nav__explore__sub-menu {
  list-style-type: none;
  margin: 0;
  padding: 0 0 30px 0;
  font-size: 15px; }
  /* line 725, stdin */
  .breakpoint-tablet-only .global-nav__explore__sub-menu {
    font-size: 12px; }
  /* line 729, stdin */
  .breakpoint-palm-only .global-nav__explore__sub-menu {
    padding: 0 0 0 0; }

/* line 735, stdin */
.global-nav__explore__sub-menu__link {
  display: block;
  text-decoration: none;
  list-style-type: none;
  color: #fff !important;
  padding: 15px 0;
  margin-right: 10px; }
  /* line 743, stdin */
  .global-nav__explore__sub-menu__link:hover {
    color: #008CFF !important; }
  /* line 747, stdin */
  .breakpoint-palm-only .global-nav__explore__sub-menu__link {
    padding: 20px;
    background: #222;
    margin-right: 0;
    border-bottom: 1px solid #444; }

/* line 755, stdin */
.global-nav__explore__sub-menu__link-caption {
  color: #ccc;
  display: block;
  font-size: 13px;
  text-transform: none;
  margin-top: 5px; }
  /* line 762, stdin */
  .breakpoint-tablet-up .global-nav__explore__sub-menu__link-caption {
    display: none; }

/* line 767, stdin */
.global-nav__explore__call-to-action {
  position: absolute;
  z-index: 1;
  right: 0;
  height: 100%;
  background-size: cover;
  background-position: center;
  min-height: 100%; }
  /* line 776, stdin */
  .breakpoint-tablet-only .global-nav__explore__call-to-action {
    display: none; }
  /* line 780, stdin */
  .breakpoint-palm-only .global-nav__explore__call-to-action {
    position: static; }
  /* line 784, stdin */
  .global-nav__explore__call-to-action:before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); }
    /* line 794, stdin */
    .breakpoint-palm-only .global-nav__explore__call-to-action:before {
      display: none; }

/* line 800, stdin */
.global-nav__explore__call-to-action__content {
  position: relative;
  z-index: 3;
  height: 100%;
  width: 100%;
  text-align: center;
  display: table; }
  /* line 808, stdin */
  .breakpoint-palm-only .global-nav__explore__call-to-action__content {
    display: block; }
  /* line 812, stdin */
  .global-nav__explore__call-to-action__content .table-wrapper {
    display: table;
    width: 100%; }
    /* line 816, stdin */
    .breakpoint-palm-only .global-nav__explore__call-to-action__content .table-wrapper {
      display: block; }
  /* line 821, stdin */
  .global-nav__explore__call-to-action__content .table-cell-wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%; }
    /* line 827, stdin */
    .breakpoint-palm-only .global-nav__explore__call-to-action__content .table-cell-wrapper {
      display: block; }

/* line 833, stdin */
.global-nav__explore__call-to-action__title {
  display: block;
  font-size: 28px;
  width: 85%;
  margin: 0 auto 10px auto; }
  /* line 839, stdin */
  .breakpoint-palm-only .global-nav__explore__call-to-action__title {
    display: none; }

/* line 844, stdin */
.global-nav__explore__call-to-action__link {
  display: block;
  background: #035496;
  color: #fff !important;
  font-size: 18px;
  padding: 10px;
  width: 85%;
  margin: 0 auto;
  max-width: 230px; }
  /* line 854, stdin */
  .global-nav__explore__call-to-action__link:hover {
    background: #093a62; }
  /* line 858, stdin */
  .breakpoint-palm-only .global-nav__explore__call-to-action__link {
    width: 100%;
    max-width: none;
    padding: 25px;
    font-size: 18px;
    text-align: left; }
  /* line 866, stdin */
  .global-nav__explore__call-to-action__link span {
    font-size: 14px; }
    /* line 869, stdin */
    .breakpoint-palm-only .global-nav__explore__call-to-action__link span {
      float: right; }

/* line 876, stdin */
.global-nav__explore__mobile-content {
  padding: 20px; }
  /* line 879, stdin */
  .breakpoint-tablet-up .global-nav__explore__mobile-content {
    display: none; }

/* line 884, stdin */
.global-nav__explore__mobile-content__phone {
  display: block;
  color: #fff;
  font-size: 32px;
  text-align: center; }
